<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain html in pug</title> 
    <title>#{title}</title>
</head>
<body> -->



    <!-- <h1>This is heading</h1>
    <p>

       |  #{content}
    </p>
    <h2>
      |  #{message}
    </h2> -->
    <!-- <h1>This is pure HTML using PUG</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, sunt excepturi! Est dolores consectetur fugit laboriosam cupiditate quis magnam veniam culpa sequi dolore delectus, voluptates fuga molestias sapiente rem alias nam deserunt animi provident?z</p> -->
<!-- </body>
</html> -->









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower services</title>
      style
             include ./style.css
  
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li> <a class="item1" href="/"> Home</a> </li>
                <li> <a class="item2" href="/"> About</a> </li>
                <li> <a class="item3" href="/">  Services</a> </li>
                <li> <a class="item4" href="/"> Contact Us</a> </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <h2>Please put your details</h2>
        <form action="/" method="post" id="CustomerDetails" >
            <input type="text" name="Name" class="item" placeholder="Enter your name">
            <input type="number" name="Age" class="item" placeholder="Enter your age">
            <input type="text" name="Address" class="item" placeholder="Enter your Address">
            <textarea name="AboutDetails" id="AboutDetailsInfo" cols="30" rows="10"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>