//- index.pug
doctype html
html
  head
    style
      include ../public/style.css
  body
    nav#navbar.upper 
     ul 
      li Home
      li Information
      li About
      li Contact Us
      li Services

  section#firstsection
    | first section
  section#secondsection
    | second section 


  footer #footer 
    | footer here

    
    script
      include ../public/index.js        